<link rel="stylesheet" href="/css/cover.css">

  {{!-- <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Cover</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/strategy">Strategy</a>
        <a class="nav-link" href="/contactUs">Talk To Us</a>
        <a class="nav-link" href="/clients">Clients</a>
      </nav>
    </div>
  </header> --}}

  <style>
    .navbar{
      color: #333;
    }

    .cover-container{
      margin-top: 200px;
    }
  </style>

  <nav class="navbar navbar-expand-lg navbar-dark shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Appy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/strategy">Strategy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactUs">Talk To Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clients">Clients
              </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="cover-container d-flex w-100 h-50 p-3 mx-auto flex-column">

  <main role="main" class="inner cover" align="center">
    <h1 class="cover-heading">Trade Appy</h1>
    <p class="lead">Bond and Treasury investments made simple.</p>
    <p class="lead">
      <a href="/strategy" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>
</div>