
{{!-- </div> --}}
{{!-- <div class="container-fluid"> --}}
<form>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Account ID</label>
                    <input type="search" class="form-control" id="search" aria-describedby="search">
                    <small id="search" class="form-text text-muted">Search Acc by Id.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

    <script src="/js/search.js"></script>
    
</form>
{{!-- </div> --}}