<link rel="stylesheet" href="/css/cover.css">

  <style>
    .navbar{
      color: #333;
    }

    .cover-container{
      margin-top: 100px;
    }

    .card{
      background-color: #333;
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  </style>

<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/admins/dashboard">Admin Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admins/deposit">Deposit
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/admins/withdrawal">Withdrawal
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admins/allClients">All Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admins/allDeposits">All Deposits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admins/allWithdrawals">All Withdrawals</a>
        </li>
      </ul>
    </div>

    <div>
      <a class="btn btn-outline-danger" href="/admins/logout" role="button">Logout</a>
    </div>
  </div>
</nav>

<div class="cover-container d-flex w-100 h-50 p-3 mx-auto flex-column">

  <div class="col-auto">
    <div class="card text-center w-75" style="background-color: wheat;">
      <div class="card-header text-black-50">Make Withdrawal</div>
      <div class="card-body">
        <h5 class="card-title text-black-50">Special title treatment</h5>
        <p class="card-text text-black-50">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-success">Deposit</a>
    </div>
  </div>

</div>